/* .flex-box__container-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  border: 1px solid black;
  padding: 15px;
  flex-wrap: wrap;

}

.container {
  margin: 50px auto;
  width: 75%;
  text-align: center;
}

.flex-box__container-1 div {

  display: flex;
  padding: 10px;

} */

.container {
    margin: 50px auto;
    width: 60%;
    text-align: center;
}

.buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.result {
    margin-top: 30px;
}

span {
    font-size: 40px;
    padding: 15px;
    background-color: black;
    color: #fff;
    border-radius: 15px;
}

.container-2 {
    /* border: 1px solid red; */
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box__container-2 {
    display: flex;
    /* border: 1px solid blue; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box__container-2 img {
    border: 1px solid green;
    padding: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
    height: 200px;
    width: 200px;
}